html {
    scroll-behavior: smooth;
}

#flexypress-scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
}

#flexypress-scroll-to-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0093ff;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
}